<div class="spacer">
  <div class="content">
    <mat-card class="main-card">
      <mat-card-header>
        <mat-card-title>About ostimeline</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          The ostimeline project makes interactive HTML-based timelines with virtualized operating systems
          (or any other software) embedded into HTML instead of screenshots.
        </p>

        <p>
          It creates a visual timeline to navigate among several pages, each page devoted to some
          version of an operating system or an application. The primary goal of the project was presenting
          a live history of GUI-based mobile & desktop operating systems, which looks as follows:
        </p>

        <img alt="Xerox Alto" src="/assets/images/xerox_alto.png" width="50%" />

        <p>
          Pages are showing some description and frames with virtualized operating systems, embedded
          into text as if they where ordinary screenshots.
        </p>

        <img alt="timeline with navigation" src="/assets/images/timeline_nav" width="30%" />

        <p>
          User can flip through timeline and interact with virtualized systems by mouse.
          Keyboard interaction with virtual machine is also possible (you just need to click on the border,
          which takes keyboard focus from the timeline to the virtual machine).
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="sidebar">
    <mat-card class="main-card">
      <mat-card-header>
        <mat-card-title class="title">Partners</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="http://www.bstu.by/uploads/images/bstu_logo.png" alt="BSTU image">
      </mat-card-content>
    </mat-card>
  </div>
</div>
