<div class="spacer">
  <div class="content">
    <mat-card class="main-card">
      <mat-card-header>
        <mat-card-title>Downloads</mat-card-title>
        <mat-card-subtitle>Download your downloads</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <button *ngIf="isAdmin" (click)="loadAdminsDownloads()" mat-button>
          <mat-icon mat-list-icon>get_app</mat-icon>Admins download</button>
        <button *ngIf="isUser" (click)="loadUsersDownloads()" mat-button>
          <mat-icon mat-list-icon>get_app</mat-icon>Users downloads</button>
        <button (click)="loadVisitersDownloads()" mat-button>
          <mat-icon mat-list-icon>get_app</mat-icon>Visiters downloads</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="sidebar">
    <mat-card class="main-card">
      <mat-card-header>
        <mat-card-title class="title">Partners</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="http://www.bstu.by/uploads/images/bstu_logo.png" alt="BSTU image">
      </mat-card-content>
    </mat-card>
  </div>
</div>