<mat-card>
  <mat-card-title>Downloads</mat-card-title>
  <mat-card-subtitle>Download your downloads</mat-card-subtitle>
  <button *ngIf="isAdmin" (click)="loadAdminsDownloads()" mat-button>
    <mat-icon mat-list-icon>get_app</mat-icon>Admins download</button>
  <button *ngIf="isUser" (click)="loadUsersDownloads()" mat-button>
    <mat-icon mat-list-icon>get_app</mat-icon>Users downloads</button>
  <button (click)="loadVisitersDownloads()" mat-button>
    <mat-icon mat-list-icon>get_app</mat-icon>Visiters downloads</button>
</mat-card>