<div class="spacer">
  <mat-card>
    <mat-card-title>About</mat-card-title>

    <mat-card-subtitle>About your projects</mat-card-subtitle>

    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce turpis urna, rutrum sit amet est quis, auctor dignissim libero.
      Integer condimentum, nibh at elementum finibus, massa urna dignissim massa, vitae interdum dolor ligula sed erat. Donec
      ac ex dolor. Cras fringilla mattis purus, non pharetra diam malesuada eu. Nam pretium ex nisi, sed molestie lorem pulvinar
      at. Phasellus facilisis dolor vitae nisl consectetur, vel volutpat ligula placerat. Sed nec laoreet augue, vel commodo
      quam. Vestibulum a malesuada augue. Duis et arcu in elit auctor mattis. Donec fermentum et dui pretium vulputate. Suspendisse
      auctor elit ac imperdiet eleifend. Praesent fringilla facilisis felis, sit amet luctus mauris finibus sed. Vivamus
      ullamcorper, ligula sed gravida ullamcorper, massa leo scelerisque nisi, sed elementum nisl urna bibendum libero. Duis
      et enim sed arcu venenatis egestas nec venenatis massa. Donec eget velit varius, convallis nisl quis, aliquam libero.
      Fusce rutrum venenatis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      Vivamus massa diam, eleifend id tempus ac, tempus in lorem. In hac habitasse platea dictumst. Vestibulum sed sagittis
      ipsum, tempus feugiat lacus. Aenean non scelerisque tortor. Suspendisse egestas mi neque, at dignissim mi gravida ac.
      Nam tempor dignissim maximus. Vivamus at nunc id lacus varius varius. Donec sollicitudin varius arcu, nec efficitur
      diam placerat a. Suspendisse varius commodo sem, scelerisque feugiat ipsum luctus ac. Fusce tincidunt nisl consectetur,
      viverra ipsum ac, sagittis orci. Aliquam interdum neque at gravida viverra. Curabitur eget luctus ante. Praesent finibus
      magna malesuada, efficitur justo eget, gravida arcu. Fusce lobortis turpis eget tempus tempus. Fusce imperdiet congue
      massa malesuada pretium. Sed in sapien suscipit, congue nisl ut, eleifend nunc. Proin sapien lectus, mollis non arcu
      vitae, vulputate porta ex. Duis vel mollis ex, nec sagittis eros. Donec in fringilla ipsum. Integer ac vestibulum lacus.
      Integer quis metus at purus ultricies posuere et a est. Integer quis felis massa. Etiam tempor lectus odio. Nam vehicula
      consequat tincidunt. In consequat nulla sed risus auctor, et gravida lorem lobortis. Sed sit amet dolor sit amet sapien
      lobortis sodales. Nunc ut ipsum a tellus aliquam sollicitudin et sed lacus. Quisque sollicitudin iaculis purus, et
      semper turpis maximus id. Phasellus ut iaculis elit. Sed ut est convallis, volutpat ante quis, consequat enim. Etiam
      aliquet lorem sed lectus maximus consectetur. Integer ultrices turpis a rhoncus ornare. Nunc tellus orci, elementum
      a odio consectetur, pulvinar euismod purus. Proin id efficitur magna. Nunc blandit efficitur metus nec lobortis. Aenean
      laoreet efficitur lacus, vitae mattis urna vestibulum et. Pellentesque ut turpis elit. Praesent pharetra lacus ac felis
      vulputate pulvinar. Morbi mattis a lorem vitae ultricies. Mauris bibendum, nisl sed luctus scelerisque, purus lacus
      finibus urna, sed ultrices justo magna id arcu. Aenean vel lectus ullamcorper dolor semper cursus. In nulla dolor,
      aliquet sed ipsum at, imperdiet sodales metus. Morbi ut est varius, auctor purus in, suscipit neque. Vestibulum venenatis
      tincidunt velit. Phasellus turpis nisi, congue nec consectetur ac, cursus vel nunc. Sed ex velit, efficitur eu tortor
      id, sollicitudin varius sem. Etiam feugiat, nisl sit amet molestie porta, augue erat luctus lacus, vitae egestas odio
      purus in elit. Pellentesque lobortis, tortor quis aliquet rhoncus, lectus lectus vulputate nisl, vel maximus metus
      mi quis leo. Quisque nisl arcu, scelerisque a commodo sit amet, malesuada ac dui. Curabitur nec neque nec lorem viverra
      bibendum. Integer congue, risus vel eleifend viverra, turpis nisi tincidunt arcu, eget viverra arcu urna sit amet orci.
      In et lorem risus. Etiam molestie tincidunt purus at vestibulum. Vivamus ac mi arcu. Sed dapibus blandit nibh, id porta
      nibh hendrerit accumsan. Morbi lacus ligula, porttitor quis dignissim ac, varius in quam. Nam lectus enim, tincidunt
      nec elementum ut, luctus sit amet metus. Vestibulum ut vehicula lectus, commodo vulputate lectus. Etiam non leo feugiat,
      laoreet mi non, iaculis elit. Aenean dignissim, est sit amet dapibus feugiat, tellus nisl dignissim mauris, et tincidunt
      dolor leo at est. Sed imperdiet augue id sapien viverra, ut ultrices nibh feugiat. Suspendisse imperdiet, tellus id
      varius mattis, velit metus bibendum nibh, quis iaculis nisl erat id velit. Nullam quam leo, varius molestie lobortis
      ac, pharetra at erat. Morbi augue orci, ullamcorper eu cursus vel, tempus vitae libero. Proin at consectetur justo.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eu condimentum est.
      Phasellus ante enim, elementum ut porta et, consequat ac ex. Ut suscipit tincidunt neque ut iaculis. In hac habitasse
      platea dictumst. Praesent sed mi at sem maximus suscipit. Nullam porta eu ipsum nec condimentum. Nullam in lectus ut
      velit congue condimentum nec ac libero. Suspendisse turpis risus, tristique sed cursus semper, convallis a velit. Interdum
      et malesuada fames ac ante ipsum primis in faucibus. Vestibulum sed cursus sapien. In imperdiet a elit rhoncus laoreet.
      Aenean cursus mollis lacus. Aenean enim quam, fringilla eget turpis in, eleifend efficitur leo. Ut ex metus, lobortis
      ut nisl ut, dignissim ornare libero. Curabitur porta velit vel dolor molestie venenatis. Sed fringilla tortor mi, ut
      laoreet libero dapibus sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Pellentesque mollis elementum faucibus. Nunc nibh orci, tempus non dapibus sed, dignissim a justo. Aenean molestie
      venenatis placerat. Ut vel risus vel lorem congue pharetra vitae id elit. Fusce at egestas purus, viverra blandit nulla.
      Nullam ac eleifend odio. Suspendisse eu finibus eros. Quisque est sem, pretium quis lectus eget, viverra tincidunt
      metus. Nulla arcu velit, interdum ac ipsum eu, aliquam dignissim metus. Vestibulum nec velit eget eros vehicula ultricies.
      Fusce non nulla efficitur, aliquam nulla ut, pharetra eros. Maecenas viverra leo nibh, at condimentum nisl tempus a.
      Nulla eget malesuada ligula. Etiam mollis scelerisque mi, faucibus lobortis nunc auctor sed. Curabitur pretium condimentum
      eros, id sagittis est egestas quis. Praesent at varius nisi. Etiam eu dignissim elit, at posuere orci. Quisque pretium
      id ante ac euismod. Morbi mollis, sem at dictum dignissim, turpis lacus condimentum nunc, at lacinia diam erat eget
      elit. Curabitur ullamcorper diam eu blandit lacinia. Curabitur vel sapien ut libero tristique sollicitudin ac ac massa.
      Maecenas auctor dolor quam, eget placerat orci interdum eget. Nam ut tortor vitae ex ultricies mollis. Sed dictum sagittis
      nulla nec consectetur. Mauris rutrum nulla urna, eget viverra est facilisis ac. Etiam condimentum varius aliquet.
    </mat-card-content>
  </mat-card>
</div>