.spacer {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.content {
    flex: 3;
}

.sidebar {
    flex: 1;
}

.main-card{
    margin: 10px;    
}

.example-header-image { 
    background-size: cover;
}

.title{
    font-weight: bold;
}

.img-article{
    height: 100%;
    width: 100%;
}

.action-buttons{
    text-align: center;
}
    
.example-container {
    height: auto;
    border: 1px solid rgba(111, 111, 111, 0.50);
}
  
.example-sidenav-content {
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
}
  
.example-sidenav {
    padding: 20px;
}

.source-name {
    margin-left:5px; 
}

.list-item:hover{
    cursor: pointer;
    background-color: #3f51b5;
    color: white;
}

li > ol {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset:  item; /* Обнуляем счетчик списка */
}
li > ol li:before {
    content: counter(item) ') '; /* Добавляем к числам скобку */
    counter-increment: item; /* Задаём имя счетчика */
}

li, img {
    margin: 1em;
}

mat-card-title a {
    color: #000;
    visibility:hidden;
}

mat-card-title:hover a {
    visibility:visible;
}
